html {
  background: url(https://images.unsplash.com/photo-1436390662179-f8592c43abe4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=68305063b41ee977354f876866dda7ab) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Amatic SC', cursive;
}


body{
  color:#232323;
    font-family: 'Lato';

}

section#portfolio{
  background-color:rgba(127, 140, 141,0.6);
  width: 100%;
}

header {
  background: url(https://images.unsplash.com/photo-1436390662179-f8592c43abe4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=68305063b41ee977354f876866dda7ab) no-repeat center;
  height: 100%;
  background-size: cover;
}

.head-text{
  text-align: center;
  padding: 130px;
  font-weight: 300;
  font-family: 'Amatic SC', cursive;



}

a.page-scroll{
  color:#000;
  font-size:15px;
}

.nav>li>a:focus, .nav>li>a:hover{
  text-decoration: none;
  background-color: transparent;
}
img.kc{
  border-radius: 50%;
}

.ion-social-linkedin-outline:before{
  font-size: 43px;
  color:#232323;

}
i.ion-social-twitter{
  font-size: 30px;
  font-style: bold;
}

.ion-social-linkedin-outline:before{
  color:#35AAC0;
}

.text-center p{
  font-weight: 300;
  color:#fff;
}

.text-faded{
     font-family: 'Lato';
     font-size: 18px;

}


.row{
margin-right: 21px;
margin-left: -45px;
padding: 10px;
margin: auto;
}


.linked p{
  font-weight: 300;
}

.email p{
  margin-top: 20px;
  font-weight: 300;
}
